 .contactTitle {
     position: relative;
     left: 650px;
     display: flex;
     justify-content: center;
     color: black;
     padding-top: 7px;

     font-family: Montserrat;
     font-size: 30px;
     font-weight: 700;
     letter-spacing: 0.3554em;
     margin-top: 250px;
     border: 6px solid #000000;

     height: 78px;

 }

 .contactDesc {
     position: relative;
     left: 100px;
     bottom: 100px;
     display: flex;
     justify-content: center;
     color: black;
     font-weight: 300;
     font-size: 1rem;
     margin-top: 450px;
 }

 .end {
     position: relative;
     right: 460px;
     bottom: 60px;
     display: flex;
     justify-content: center;
     color: black;
     font-weight: 300;
     font-size: 1rem;
     margin-top: 100px;

 }

 .fielddata {
     position: relative;
     left: 300px;
     margin-top: 20px;
     justify-content: center;
     align-items: center;
 }

 .name {
     margin: 8px;
     padding: 15px;
     border-left: 3px solid black;
     border-bottom: 3px solid black;
     border-right: none;
     border-top: none;
     width:400px;
     margin-top: 20px;
 }

 .name {
     margin: 8px;
     padding: 15px;
     border-left: 3px solid black;
     border-bottom: 3px solid black;
     border-right: none;
     border-top: none;
 }

 .name {
     margin: 8px;
     padding: 15px;
     border-left: 3px solid black;
     border-bottom: 3px solid black;
     border-right: none;
     border-top: none;
 }

 .name4 {
     margin: 8px;
     padding: 15px;
     border-left: 3px solid black;
     border-bottom: 3px solid black;
     border-right: none;
     border-top: none;
 }

 .name5 {
     margin: 8px;
     padding: 30px;
     border-left: 3px solid black;
     border-bottom: 3px solid black;
     border-right: none;
     border-top: none;
 }

 .submitbtn {
     position: relative;
     left: 150px;
     display: flex;
     color: black;
     justify-content: center;
     font-family: Montserrat;
     border-left: 3px solid black;
     border-right: 3px solid black;
     border-left: 2px solid black;
     border-right: 2px solid black;
     margin: 6px;
     height: 3vh;
     width: 82px;
     border-top-color: white;
     border-bottom: white;
 }

 /* .contactform {
   display:flex;
   justify-content: center;
    color: black;
 
    font-weight: 300;
    font-size: 1rem;
} */




 /* 
.para {
    position: relative;
    right: 70px;
    top: 260px;
}

.onelinefrompara {
    position: relative;
    left: 105px;
    top: 265px;
}

.end {
    position: relative;
    top: 350px;
    left: 150px;
}

.submitbtn {
    position: relative;
    color: black;
    left: 150px;
    padding: 10px;
    bottom: 0px;

    width: 85px;

    font-family: Montserrat;
    border-left: 3px solid black;
    border-right: 3px solid black;
    color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 4px;
    height: 5vh;
    width: 82px;
    border-top-color: white;

    border-bottom: white;

}

 */

 .alldata {
     display: flex;
     bottom: 600px;
     left: 50px;
 }