.navbar-container{
display:flex;
margin-top: 45px;
justify-content:right;

}
.navbar-container:hover{
    color: gray;
}
.ownlogonew{
    display:flex;
}

.navbaritemss {
    margin-top: 15px;
    display: flexbox;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    margin: 5px;
    color: black;
    background: white;
    border-radius: 6rem;
    border-top-left-radius: 5.5rem;
    border-bottom-left-radius: 5.5rem;
    height: 4.5vh;
    width: 100%;
    padding: 5px;
}
.navbaritems {
    display: flexbox;
    justify-content: space-between;
    padding-left: 5px;
    margin: 7px;
    color:white;
    
}
.navbaritems:hover{
    color: gray;
    line:white;
}
.navbaritemss:hover{
    color: gray;
}
/* .navbar-container {
    position: relative;
    width: 637px;
    height: 46px;
    top: 20px;
    left: 350px;
    display: flex;
    justify-content: space-between;
}

.navbaritems {
    display: flexbox;
    justify-content: space-between;
    padding-left: 5px;
    margin: 7px;
}

.navbaritems:hover {
    color: gray;
    border-bottom: 2px solid white;

}

.navbaritemss {
    display: flexbox;
    justify-content: space-between;
    margin: 5px;
    color: black;
    background: white;
    border-radius: 6rem;
    border-top-left-radius: 5.5rem;
    border-bottom-left-radius: 5.5rem;
    height: 4.5vh;
    width: 100%;
    padding: 5px;
}



/* .mobMenu {
    position: static;
    color: black;
    margin: 10px;

} */

/* .navMenu {
    position: absolute;
    top: 4rem;
    right: 2 rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: fit-content; */
/* min-width: 7rem; */
/* background:white;
    border-radius: 2rem;
    margin:4px; */
/* }
.listItem{
    color:black;
    padding:3rem;
    margin:10px;
} */
/* @media screen and(max-width:720px){
    .mobMenu{
        display:flex;
    }
    .desktopMenu{
        display:none;
    }
    .desktopMenuBtn{
        display:none;
    }
} */



/* @media screen and(max-width:720px){
    .mobMenu{
        display:flex;
    }
    .desktopMenu{
        display:none;
    }
    .desktopMenuBtn{
        display:none;
    }
}  */ 