#aboutme {

    margin-top: 80px;
    left: 350px;
    text-align: center;
    text-decoration-color: black;
}

.about-title-box h2 {
    margin: 0;
}

.aboutTitle {

    justify-content: center;
    padding: 10px;
    color: black;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.3554em;

    margin-top: 50px;
    width: 45vh;
    border: 6px solid #000000;
}

.aboutparts {
    color: black;

}

.Desc {
    display: flex;
    color: black;

    justify-content: center;
    margin-top: 40px;
}

.aboutmeDesc {

    justify-content: center;
}

.aboutparts {
    position: relative;
    left: 200px;
    text-align: center;
}

.expandContents {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 15px;
    padding: 10px;
    color: black;
    border-left: 2px solid black;
    border-right: 2px solid black;

    border-top-color: white;
    border-bottom: white;

}

.aboutpartsText1 {
    position: relative;
    right: 600px;
    color: grey;


}

.aboutpartsText2 {
    position: relative;
    left: 150px;
    bottom: 70px;
    color: grey;
}

.aboutpartsText3 {
    position: relative;
    bottom: 50px;
    right: 650px;
    color: grey;

}

/* tools */

.tools {
    color: black;
    position: relative;
    left: 90px;
    top: 180px;

    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    letter-spacing: 0.1854em;
    text-align: center;

}

.toolss {
    color: black;
    position: relative;
    right: 290px;
    top: 100px;

    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    letter-spacing: 0.1854em;
    text-align: center;

}

.toolsss {
    color: black;
    position: relative;
    left: 50px;
    top: 400px;

    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    letter-spacing: 0.1854em;
    text-align: center;

}

/* description */
.content {
    position: relative;
    left: 202px;
    top: 190px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: justified;

}

.content1 {
    position: relative;
    right: 228px;
    top: 130px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: justified;

}

.content2 {
    position: relative;
    left: 110px;
    top: 410px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: justified;

}

/* icons */

.design1 {
    position: relative;
    left: 250px;
    top: 190px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: justified;
    /* color: black;
    position: absolute;
    text-align: center;
    width: 61px;
    height: 64px;
    top: 110px;
    left: 580px;
    gap: 0px;

    opacity: 0px;  */
}


.development {

    position: relative;
    right: 280px;
    top: 100px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: justified;
    /* position: absolute;
    width: 68.94px;
    height: 70px;
    top: 100px;
    left: 110px;
    gap: 0px;
    opacity: 0px; */

}

.maintenance {
    position: relative;
    left: 130px;
    top: 380px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: justified;
    /* position: absolute;
    height: 64px;
    top: 300px;
    height: 64px;
    left: 500px;
    gap: 0px;
    opacity: 0px; */

}

.endline {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    align-content: center;
}